#watch{
     width: 300px;
    height: 85px; 

margin: 22% 50% 0% 41%; 

}
#AMPM{
    
}

#timedisplay{
/* width: 270px;
height: 90px; */
    /* background-color: beige; */
    /**/
    border: 2px solid;
    display: flex;
    background-color: aqua;
justify-content: center;
  font-size: 75px;
}
#buttoncontainer{
    border: 2px solid;
    width: 296px;
    height: 45px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;

}
#start{
    margin-top: 6px;

padding: 0px 10px 27px 10px;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
    margin-right: 5px;
    background-color: aqua;
}
#pause{
    margin-top: 6px;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
    padding: 0px 10px 27px 10px;
    background-color: indigo;
 
}
#reset{
    margin-top: 6px;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
    padding: 0px 10px 27px 10px;
    margin-left: 5px;
    background-color: indianred;
}
